<div class="Home-background">
    <p class="Home-welcome"> Welcome to </p>
    <p class="Home-title">Cafeteria</p>
    <p class="Home-text">New user? <%= link_to "Sign up ", new_user_path%></p>
    <p class="Home-text">Already have an account? <%= link_to "Sign in", new_sessions_path%></p>
</div>
