<p class="OrderThanks">Thanks for the Order!</p>




<!--
<h2 class="Order-title">Your Order</h2>
<div class="Order-items">
  <% @current_user.orders.first.order_items.each do |item| %>
    <div class="OrderItems-text">
      <p>Item: <%= item.menu_item_name %></p>
      <p> Price: <%= item.menu_item_price %>₹</p>
      <p> Quantity: <%= item.quantity %></p>
      <p> Total Price: <%= item.total_price %>₹</p>
    </div>
  <% end %>
  
</div>